﻿@using Admin.Helper;
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup ICD</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="form-group">
                            <label class="col-md-4 control-label">Kode ICD</label>
                            <div class="col-md-8">
                                <input required name="KodeICD" class="form-control create-clear" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Deskripsi</label>
                            <div class="col-md-8">
                                <input required name="Descriptions" class="form-control create-clear" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Section</label>
                            <div class="col-md-8">
                                <select  id="SectionID" name="SectionID" class="form-control create-clear" maxlength="100">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Diagnosa HC</label>
                            <div class="col-md-8">
                                <select  id="DiagnosaHC" name="DiagnosaHC" class="form-control create-clear" maxlength="100">
                                </select>
                                @*<input id="NoUrut" name="NoUrut" class="form-control" maxlength="100" />*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value sync get contreller
                    t['KodeICD'].value = r.Data.KodeICD;
                    t['Descriptions'].value = r.Data.Descriptions;
                    t['SectionID'].value = r.Data.SectionID;
                    t['DiagnosaHC'].value = r.Data.DiagnosaHC;


                    //get selection or lookup
                    if (r.Data.SectionID != null) {
                        var jasalookup = {
                            id: r.Data.SectionID,
                            text: r.Data.SectionName
                        };
                        var jasalookup = new Option(jasalookup.text, jasalookup.id, false, false);
                        $('#SectionID').append(jasalookup).trigger('change');
                    }
                    if (r.Data.DiagnosaHC != null) {
                        var jasalookup = {
                            id: r.Data.DiagnosaHC,
                            text: r.Data.DiagnosaHC
                        };
                        var jasalookup = new Option(jasalookup.text, jasalookup.id, false, false);
                        $('#DiagnosaHC').append(jasalookup).trigger('change');
                    }

                    isetup.init();
                    isetup.modal.modal({ backdrop: 'static' });

                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {
                        // param sync model
                        KodeICD: t['KodeICD'].value,
                        Descriptions: t['Descriptions'].value,
                        SectionID: t['SectionID'].value,
                        DiagnosaHC: t['DiagnosaHC'].value,
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'EDIT') {
                    $('input[name="KodeICD"]').attr('readonly', true);
                }
            },
            onopenmodalcreate: function (t) {

                isetup.init();
            },
        });


        //lookuphelper
        
        $(isetup.form['SectionID']).select2({
            ajax: {
                url: "@Url.Action("Jasa_ADM_GetSectionICD", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, (value, index) => {
                                return {
                                    id: value.Id,
                                    text: value.Id + ' - ' + value.Name
                                };
                            }),
                            pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
         });
        $(isetup.form['DiagnosaHC']).select2({
            ajax: {
                url: "@Url.Action("Jasa_ADM_GetDiagnosaHCICD", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, (value, index) => {
                                return {
                                    id: value.Id,
                                    text: value.Id + ' - ' + value.Name
                                };
                            }),
                            pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });



        //$(isetup.form['AkunNoMA']).on('select2:selecting', (e) => {
        //    if (e.params.args.data.header) {
        //        alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
        //        e.preventDefault();
        //    }
        //});


    });
</script>

