﻿@using Admin.Helper

<style>
    #modalsetup .input-detail td {
        white-space: nowrap;
    }
</style>

<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kamar</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" required name="Id" class="form-control" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">No Kamar</label>
                                    <div class="col-md-9">
                                        <input type="text" name="NoKamar"  class="form-control all-readonly" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Nama Kamar</label>
                                    <div class="col-md-9">
                                        <input type="text" required name="NamaKamar" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Sal</label>
                                    <div class="col-md-9">
                                        <select required name="Sal" class="form-control create-clear"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">JmlBed</label>
                                    <div class="col-md-9">
                                        <input type="number" required name="JmlBed" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">NoLantai</label>
                                    <div class="col-md-9">
                                        <input type="number" required name="NoLantai" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="Tambahan" />
                                            Tambahan
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Kelas</label>
                                    <div class="col-md-9">
                                        <select required name="Kelas" class="form-control create-clear"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered input-detail">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="isetup.adddetailbody('')"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td>No Bed</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // value
                    t['Id'].value = r.Data.Id;
                    t['NoKamar'].value = r.Data.NoKamar;
                    t['NamaKamar'].value = r.Data.NamaKamar;
                    t['Sal'].value = r.Data.SalName;
                    t['JmlBed'].value = r.Data.JmlBed;
                    t['NoLantai'].value = r.Data.NoLantai;
                    t['Tambahan'].checked = r.Data.Tambahan;
                    t['Kelas'].value = r.Data.Kelas;

                    if (r.Data.SalName) {
                        const option = new Option(`${r.Data.SalName}`, r.Data.SalID, true, true);
                        $(t['Sal']).append(option);
                    }
                    if (r.Data.Kelas) {
                        const option = new Option(`${r.Data.KelasName}`, r.Data.Kelas, true, true);
                        $(t['Kelas']).append(option);
                    }

                    // detail
                    $(t).find('.input-detail tbody').html('');
                    $.each(r.Detail, function (index, value) {
                        isetup.adddetailbody(
                            value.Id
                        );
                    });

                    isetup.init();

                    if (isetup.form['_PROCESS'].value === 'EDIT') {
                        $(isetup.form['Id']).attr('readonly', 'readonly');
                    }

                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alerterror(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process: t['_PROCESS'].value,
                    model: {

                        // param
                        NoKamar: t['NoKamar'].value,
                        NamaKamar: t['NamaKamar'].value,
                        Sal: t['Sal'].value,
                        JmlBed: t['JmlBed'].value,
                        NoLantai: t['NoLantai'].value,
                        Tambahan: t['Tambahan'].checked,
                        Kelas: t['Kelas'].value,
                        Detail: $.map($(t).find('.input-detail tbody tr'), function (value) {
                            return {
                                Id: $(value).find('.Id').val()
                            }
                        })
                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else alerterror(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t, param) {
                isetup.init();
                $(isetup.form).find('.input-detail tbody').html('');
            }
        });

        $(isetup.form['Sal']).select2({
            ajax: {
                url: "@Url.Action("Other_Kamar_Sal", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetup.form['Kelas']).select2({
            ajax: {
                url: "@Url.Action("Other_Kamar_Kelas", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, function (value, index) {
                                return {
                                    id: value.Id,
                                    text: value.Nama,
                                }
                            }), pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        isetup.adddetailbody = (id) => {
            var _detail = '';
            _detail += '<tr>';
            _detail += '<td class="text-center view-hide">';
            _detail += '<a href="#" onclick="removedetail(this);" class="text-danger"><i class="icon-trash"></i></a>';
            _detail += '</td>';

            // input
            _detail += '<td><input type="text" class="form-control Id" value="' + id + '" /></td>';

            _detail += '</tr>';
            $(isetup.form).find('tbody').append(_detail);
        };
    });
</script>