﻿<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Otorisasi User Khusus</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nomor</label>
                            <div class="col-md-10">
                                <select required name="KriteriaOtorisasi">
                                    @Html.Raw(Admin.Helper.HList.Other_OtorisasiUserKhusus_KiteriaOtorisasi)
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">User Id</label>
                            <div class="col-md-10">
                                <div class="input-group">
                                    <input type="text" name="User" required class="form-control all-readonly" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary view-disabled" onclick="itablelookupuser.openmodal()"><i class="icon-search4"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Username</label>
                            <div class="col-md-10">
                                <input type="text" name="Username" class="form-control all-readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nama Asli</label>
                            <div class="col-md-10">
                                <input type="text" name="NamaAsli" class="form-control all-readonly" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value
                    t['User'].value = r.Data.User;
                    t['KriteriaOtorisasi'].value = r.Data.KriteriaOtorisasi;
                    t['Username'].value = r.Data.Username;
                    t['NamaAsli'].value = r.Data.NamaAsli;

                    isetup.init();
                    isetup.modal.modal({backdrop: 'static'});
                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {

                        // param
                        User: t['User'].value,
                        KriteriaOtorisasi: t['KriteriaOtorisasi'].value,

                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
            },
            onopenmodalcreate: function (t) {
                isetup.init();
            }
        });

        $(isetup.form['KriteriaOtorisasi']).select2();
    });
</script>