﻿@using Admin.Models.Other
@using Admin.Helper
@{
    ViewBag.Title = "Awal System";
    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}
@model List<OtherAwalSystemModel>

<div id="alertsuccess" class="alert bg-success alert-styled-left" style="display:none;">
    <button type="button" class="close" data-dismiss="alert"><span>×</span><span class="sr-only">Close</span></button>
    <span class="text-semibold">Berhasil Disimpan</span>
</div>

<div class="panel panel-default">
    <form id="formawalsystem" onsubmit="formawalsystemonsubmit(event)">
        <div class="panel-body">
            <div class="form-horizontal">
                @for (var i = 0; i < Model.Count; i++)
                {
                    <div class="form-group">
                        <label class="col-md-3 control-label">@(Model[i].Tipe != "Check" ? Model[i].Display : "")</label>
                        <div class="col-md-9">
                            @if (Model[i].Tipe == "Akun")
                            {
                                <select class="inputvalue" data-nama="@Model[i].Nama" data-tipe="@Model[i].Tipe">
                                    @if (!string.IsNullOrEmpty(Model[i].Nilai) && !string.IsNullOrEmpty(Model[i].AkunNo))
                                    {
                                        <option selected value="@Model[i].Nilai">@Model[i].AkunNo - @Model[i].AkunNama</option>
                                    }
                                </select>
                            }
                            else if (Model[i].Tipe == "Number")
                            {
                                <input type="number" data-nama="@Model[i].Nama" data-tipe="@Model[i].Tipe" class="form-control inputvalue" value="@Model[i].Nilai" />
                            }
                            else if (Model[i].Tipe == "Check")
                            {
                                <label class="checkbox-inline">
                                    <input class="inputvalue" data-nama="@Model[i].Nama" data-tipe="@Model[i].Tipe" type="checkbox" @(Model[i].Nilai == "1" ? "checked" : "") />
                                    @Model[i].Display
                                </label>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
            </div>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#formawalsystem select').select2({
            ajax: {
                url: "@Url.Action("Other_AwalSystem_Akun", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return { results: $.map(data.Data, function (value, index) { return { id: value.Id, text: value.Kode + ' - ' + value.Nama } }), pagination: { more: (params.page * 30) < data.TotalCount } };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });
    });

    const formawalsystemonsubmit = (e) => {
        $('#alertsuccess').hide();
        e.preventDefault();
        const data = [];
        $('#formawalsystem').find('.inputvalue').each((i, v) => {
            const nilai = $(v).data('tipe') === 'Check' ? (v.checked ? '1' : '0') : v.value;
            data.push({
                Nama: $(v).data('nama'),
                Nilai: nilai,
            });
        });

        $.ajax({
            url: '@Url.Action("Save")',
            type: 'POST',
            data: { model : data},
            success: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    $('#alertsuccess').show();
                    $('html,body').animate({ scrollTop: 0 }, 'fash');
                } else {
                    alerterror(r.Message);
                }
            },
            error: function (xhr) { alerterror(xhr); },
            beforeSend: function () { loading(true); },
            complete: function () { loading(false); }
        });
    };
</script>