﻿@using Admin.Helper;
<div id="modalsetup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Setup Group Jasa</h4>
            </div>
            <form autocomplete="off">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <input type="hidden" name="_PROCESS" />
                        <input type="hidden" name="GroupJasaID" class="form-control" />
                        <input type="hidden" name="AkunNoMAName" class="form-control" />
                        <input type="hidden" name="AkunNoOnCallName" class="form-control" />
                        <input type="hidden" name="AkunNoRIName" class="form-control" />
                        <input type="hidden" name="AkunNoRJName" class="form-control" />
                        <input type="hidden" name="AkunNoUGDName" class="form-control" />
                        <div class="form-group">
                            <label class="col-md-2 control-label">Deskripsi</label>
                            <div class="col-md-10">
                                <input type="text" required name="GroupJasaName" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nama International</label>
                            <div class="col-md-10">
                                <input type="text" required name="NamaInternational" class="form-control" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Kelompok </label>
                            <div class="col-md-8">
                                <select required id="KelompokPerawatan" name="KelompokPerawatan" class="form-control create-clear">
                                    @Html.Raw(HList.ListKelompokPerawatan)
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Akun Rawat Jalan</label>
                            <div class="col-md-8">
                                <select required id="AkunNoRJ" name="AkunNoRJ" class="form-control create-clear">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Akun Rawat Inap</label>
                            <div class="col-md-8">
                                <select required id="AkunNoRI" name="AkunNoRI" class="form-control create-clear">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Akun Rawat Darurat</label>
                            <div class="col-md-8">
                                <select required id="AkunNoUGD" name="AkunNoUGD" class="form-control create-clear">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Akun On Cell</label>
                            <div class="col-md-8">
                                <select required id="AkunNoOnCall" name="AkunNoOnCall" class="form-control create-clear">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Akun No MA</label>
                            <div class="col-md-8">
                                <select required id="AkunNoMA" name="AkunNoMA" class="form-control create-clear">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-save btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                    <button type="submit" class="btn-delete btn btn-danger"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var isetup;
    document.addEventListener("DOMContentLoaded", function (event) {
        isetup = new iSetup({
            modal: 'modalsetup',
            urldetail: '@Url.Action("Detail")',
            urlsave: '@Url.Action("Save")',
            detailsuccess: function (r, proc) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    var t = isetup.form;

                    // detail value sync get contreller
                    t['GroupJasaID'].value = r.Data.GroupJasaID;
                    t['GroupJasaName'].value = r.Data.GroupJasaName;
                    t['NamaInternational'].value = r.Data.NamaInternational;
                    t['KelompokPerawatan'].value = r.Data.KelompokPerawatan;
                    t['AkunNoMA'].value = r.Data.AkunNoMA;
                    //t['AkunNoMAName'].value = r.Data.AkunNoMAName;

                    t['AkunNoOnCall'].value = r.Data.AkunNoOnCall;
                    //t['AkunNoOnCallName'].value = r.Data.AkunNoOnCallName;

                    t['AkunNoRI'].value = r.Data.AkunNoRI;
                    //t['AkunNoRIName'].value = r.Data.AkunNoRIName;

                    t['AkunNoRJ'].value = r.Data.AkunNoRJ;
                    //t['AkunNoRJName'].value = r.Data.AkunNoRJName;

                    t['AkunNoUGD'].value = r.Data.AkunNoUGD;
                    //t['AkunNoUGDName'].value = r.Data.AkunNoUGDName;


                    //get selection or lookup



                    if (r.Data.AkunNoMA != null) {
                        var jasagroup = {
                            id: r.Data.AkunNoMA,
                            text: r.Data.AkunNoMAName
                        };
                        var jasagroup = new Option(jasagroup.text, jasagroup.id, false, false);
                        $('#AkunNoMA').append(jasagroup).trigger('change');
                    }
                    if (r.Data.AkunNoOnCall != null) {
                        var jasagrouponcall = {
                            id: r.Data.AkunNoOnCall,
                            text: r.Data.AkunNoOnCallName
                        };
                        var jasagrouponcall = new Option(jasagrouponcall.text, jasagrouponcall.id, false, false);
                        $('#AkunNoOnCall').append(jasagrouponcall).trigger('change');
                    }
                    if (r.Data.AkunNoUGD != null) {
                        var jasagroupnougd = {
                            id: r.Data.AkunNoUGD,
                            text: r.Data.AkunNoUGDName
                        };
                        var jasagroupnougd = new Option(jasagroupnougd.text, jasagroupnougd.id, false, false);
                        $('#AkunNoUGD').append(jasagroupnougd).trigger('change');
                    }
                    if (r.Data.AkunNoRI != null) {
                        var jasagroupnori = {
                            id: r.Data.AkunNoRI,
                            text: r.Data.AkunNoRIName
                        };
                        var jasagroupnori = new Option(jasagroupnori.text, jasagroupnori.id, false, false);
                        $('#AkunNoRI').append(jasagroupnori).trigger('change');
                    }
                    if (r.Data.AkunNoRJ != null) {
                        var jasagroupnorj = {
                            id: r.Data.AkunNoRJ,
                            text: r.Data.AkunNoRJName
                        };
                        var jasagroupnorj = new Option(jasagroupnorj.text, jasagroupnorj.id, false, false);
                        $('#AkunNoRJ').append(jasagroupnorj).trigger('change');
                    }

                    isetup.init();
                    isetup.modal.modal({ backdrop: 'static' });




                } else
                    alert(r.Message);
            },
            saveparam: function () {
                var t = isetup.form;
                return {
                    _process : t['_PROCESS'].value,
                    model: {
                        // param sync model
                        GroupJasaID: t['GroupJasaID'].value,
                        GroupJasaName: t['GroupJasaName'].value,
                        NamaInternational: t['NamaInternational'].value,
                        KelompokPerawatan: t['KelompokPerawatan'].value,
                        AkunNoRJ: $("#AkunNoRJ").select2('val'),
                        AkunNoRI: $("#AkunNoRI").select2('val'),
                        AkunNoUGD: $("#AkunNoUGD").select2('val'),
                        AkunNoOnCall: $("#AkunNoOnCall").select2('val'),
                        AkunNoMA: $("#AkunNoMA").select2('val'),

                    }
                }
            },
            savesuccess: function (r) {
                r = JSON.parse(r);
                if (r.IsSuccess) {
                    isetup.modal.modal('hide');
                    itable.refresh();
                } else
                    alert(r.Message);
            },
            setupready: function () {
                var t = isetup.form;
                if (t['_PROCESS'].value === 'DELETE') $(t).find('[type="submit"].btn-danger').focus();
                if (t['_PROCESS'].value === 'EDIT') {
                    $('input[name="GroupJasaID"]').attr('readonly', true);
                }
            },
            onopenmodalcreate: function (t) {

                isetup.init();
            },
        });

        //list
        $(isetup.form['KelompokPerawatan']).select2();
        //lookuphelper
        $(isetup.form['AkunNoRJ']).select2({
            ajax: {
                url: "@Url.Action("Jasa_ADM_AkunGroupJasa", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, (value, index) => {
                                return {
                                    id: value.Id,
                                    text: value.Id + ' - ' + value.Name,
                                    header: value.Header
                                };
                            }),
                            pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
       });

        $(isetup.form['AkunNoRI']).select2({
            ajax: {
                url: "@Url.Action("Jasa_ADM_AkunGroupJasa", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, (value, index) => {
                                return {
                                    id: value.Id,
                                    text: value.Id + ' - ' + value.Name,
                                    header: value.Header
                                };
                            }),
                            pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetup.form['AkunNoUGD']).select2({
            ajax: {
                url: "@Url.Action("Jasa_ADM_AkunGroupJasa", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, (value, index) => {
                                return {
                                    id: value.Id,
                                    text: value.Id + ' - ' + value.Name,
                                    header: value.Header
                                };
                            }),
                            pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetup.form['AkunNoOnCall']).select2({
            ajax: {
                url: "@Url.Action("Jasa_ADM_AkunGroupJasa", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, (value, index) => {
                                return {
                                    id: value.Id,
                                    text: value.Id + ' - ' + value.Name,
                                    header: value.Header
                                };
                            }),
                            pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        $(isetup.form['AkunNoMA']).select2({
            ajax: {
                url: "@Url.Action("Jasa_ADM_AkunGroupJasa", "Select2")",
                dataType: 'json',type: "POST",delay: 250,
                data: function (params) {return {pagesize: 30,pageindex: params.page || 0,filter: params.term};},
                processResults: function (data, params) {
                    if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                    else {
                        params.page = data.PageIndex + 1;
                        return {
                            results: $.map(data.Data, (value, index) => {
                                return {
                                    id: value.Id,
                                    text: value.Id + ' - ' + value.Name,
                                    header: value.Header
                                };
                            }),
                            pagination: { more: (params.page * 30) < data.TotalCount }
                        };
                    }
                }, cache: true
            },
            allowClear: true,
            placeholder: ""
        });

        //validasi header lookup
        $(isetup.form['AkunNoRJ']).on('select2:selecting', (e) => {
            if (e.params.args.data.header) {
                alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
                e.preventDefault();
            }
        });
        $(isetup.form['AkunNoRI']).on('select2:selecting', (e) => {
            if (e.params.args.data.header) {
                alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
                e.preventDefault();
            }
        });
        $(isetup.form['AKunNoUGD']).on('select2:selecting', (e) => {
            if (e.params.args.data.header) {
                alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
                e.preventDefault();
            }
        });
        $(isetup.form['AkunNoOnCall']).on('select2:selecting', (e) => {
            if (e.params.args.data.header) {
                alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
                e.preventDefault();
            }
        });
        $(isetup.form['AkunNoMA']).on('select2:selecting', (e) => {
            if (e.params.args.data.header) {
                alerterror('Akun yang dipilih merupakan akun induk, Silahkan pilih akun detailnya');
                e.preventDefault();
            }
        });


    });
</script>