﻿@using Admin.Helper

<style>
    #modaldetailkomponen .input-detail td {
        white-space: nowrap;
    }
</style>

<div id="modaldetailkomponen" class="modal fade" role="dialog" style="z-index:1060;">
    <div class="modal-dialog modal-full">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Komponen</h4>
            </div>
            <form autocomplete="off" onsubmit="isetup.detailkomponenonsubmit(event);">
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table table-xxs table-bordered input-detail detail-KomponenBiaya">
                                        <thead>
                                            <tr>
                                                <td style="width:50px;" class="text-center view-hide">
                                                    <a onclick="itablelookupbiayakomponen.openmodal()"><i class="icon icon-plus2"></i></a>
                                                </td>
                                                <td>ID</td>
                                                <td>Deskripsi</td>
                                                <td>Qty</td>
                                                <td>Use Persen</td>
                                                <td>Persen</td>
                                                <td>Insentif</td>
                                                <td>Inc Insent</td>
                                                <td>Harga Awal</td>
                                                <td>Harga Lama</td>
                                                <td>Harga Baru</td>
                                                <td>Harga HC Lama</td>
                                                <td>Harga HC</td>
                                                <td>Disc HC %</td>
                                                <td style="min-width: 200px;">Akun HPP</td>
                                                <td style="min-width:200px;">Akun Lawan</td>
                                                <td>Harga BPJS</td>
                                                <td>Harga BJPS Lama</td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer view-hide">
                    <button type="button" onclick="isetup.deletedetailkomponen()" class="btn btn-danger pull-left"><i class="glyphicon glyphicon-trash"></i> DELETE</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> SAVE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const initkomponen = () => {

        isetup.adddetailbody_HargaUmum = (
            Id,
            Kelas,
            TipePasien,
            Spesialis,
            SubSpesialis,
            Dokter,
            DokterNama,
            KatOperasi,
            Cito,
            KTP,
            Lokasi,
            HargaLama,
            HargaBaru,
            HargaHCLama,
            HargaHC,
            DiscHC,
            TglBerlaku,
            HargaBPJS,
            HargaBPJSLama,
            TglBerlakuBPJS,
            InsentifDetail,
            InsentifKomponen,
            Detail
        ) => {
            const tempid = ($(isetup.form).find('.detail-HargaUmum tbody tr:last').data('tempid') + 1) || 1;
            var _detail = '';
            _detail += `<tr data-id="${Id || 0}" data-tempid="${tempid}">`;
            _detail += '<td class="text-center">';
            _detail += `<a class="text-info" onclick="isetup.viewdetail_HargaUmum(${tempid})"><i class="icon-eye"></i></a>`;
            _detail += '</td>';

            // input
            _detail += `<td><select class="Kelas">${isetup.hargaumumkelasoptions}</select></td>`;
            _detail += `<td><select class="TipePasien">${isetup.hargaumumtipepasienoptions}</select></td>`;
            _detail += `<td><select class="Spesialis">${isetup.hargaumumspesialisoptions}</select></td>`;
            _detail += `<td class="text-center"><input type='checkbox' class="SubSpesialis" ${(SubSpesialis && 'checked')}/></td>`;
            _detail += `<td><select class="Dokter">${(Dokter ? `<option value="${Dokter}">${DokterNama}</option>` : '')}</select></td>`;
            _detail += `<td><select class="KatOperasi">${isetup.hargaumumkategorioperasioptions}</select></td>`;
            _detail += `<td class="text-center"><input type='checkbox' class="Cito" ${(Cito && 'checked')}/></td>`;
            _detail += `<td class="text-center"><input type='checkbox' class="KTP" ${(KTP && 'checked')}/></td>`;
            _detail += `<td><select class="Lokasi">${isetup.hargaumumlokasioptions}</select></td>`;
            _detail += `<td class="td-text text-right HargaLama">${getcurrencyfromfloat(HargaLama) || '0'}</td>`;
            _detail += `<td class="td-text text-right HargaBaru">${getcurrencyfromfloat(HargaBaru) || '0'}</td>`;
            _detail += `<td class="td-text text-right HargaHCLama">${getcurrencyfromfloat(HargaHCLama) || '0'}</td>`;
            _detail += `<td class="td-text text-right HargaHC">${getcurrencyfromfloat(HargaHC) || '0'}</td>`;
            _detail += `<td><input type='number' class="form-control DiscHC text-right" min=0 max=100 value="${DiscHC}"/></td>`;
            _detail += `<td><input type='date' class="form-control TglBerlaku" value="${TglBerlaku || ''}"/></td>`;
            _detail += `<td class="td-text text-right HargaBPJS">${getcurrencyfromfloat(HargaBPJS) || '0'}</td>`;
            _detail += `<td class="td-text text-right HargaBPJSLama">${getcurrencyfromfloat(HargaBPJSLama) || '0'}</td>`;
            _detail += `<td><input type='date' class="form-control TglBerlakuBPJS" value="${TglBerlakuBPJS || ''}"/></td>`;
            _detail += `<td><input type='text' class="form-control InsentifDetail text-right" value="${InsentifDetail || ''}"/></td>`;
            _detail += `<td><input type='text' class="form-control InsentifKomponen text-right" value="${InsentifKomponen || ''}"/></td>`;

            _detail += '</tr>';
            $(isetup.form).find('.detail-HargaUmum tbody').append(_detail);
            $(isetup.form).find('.detail-HargaUmum tbody tr:last .Kelas').val(Kelas);
            $(isetup.form).find('.detail-HargaUmum tbody tr:last .TipePasien').val(TipePasien);
            $(isetup.form).find('.detail-HargaUmum tbody tr:last .Spesialis').val(Spesialis);
            $(isetup.form).find('.detail-HargaUmum tbody tr:last .KatOperasi').val(KatOperasi);
            $(isetup.form).find('.detail-HargaUmum tbody tr:last .Lokasi').val(Lokasi);
            $(isetup.form).find('.detail-HargaUmum tbody tr:last .Dokter').val(Dokter);
            $(isetup.form).find('.detail-HargaUmum tbody tr:last').find('.Kelas, .TipePasien, .Spesialis, .KatOperasi, .Lokasi').select2();

            isetup.hargaumum.push({
                id: tempid,
                Komponen: (Detail || []).map(x => ({
                    Id : x.Id,
                    Nama : x.Nama,
                    Qty : x.Qty,
                    UsePersen : x.UsePersen,
                    Persen : x.Persen,
                    Insentif : x.Insentif,
                    IncInsent : x.IncInsent,
                    HargaAwal : x.HargaAwal,
                    HargaLama : x.HargaLama,
                    HargaBaru : x.HargaBaru,
                    HargaHCLama : x.HargaHCLama,
                    HargaHC : x.HargaHC,
                    DiscInsentifHC : x.DiscInsentifHC,
                    AkunHPP : x.AkunHPP,
                    AkunHPPNama : x.AkunHPPNama,
                    AkunLawan : x.AkunLawan,
                    AkunLawanNama : x.AkunLawanNama,
                    HargaBPJS : x.HargaBPJS,
                    HargaBPJSLama : x.HargaBPJSLama
                })),
                InsentifDetail: new Cleave($(isetup.form).find('.detail-HargaUmum tbody tr:last .InsentifDetail')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
                InsentifKomponen: new Cleave($(isetup.form).find('.detail-HargaUmum tbody tr:last .InsentifKomponen')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
            });
            $(isetup.form).find('.detail-HargaUmum tbody tr:last').find('.Dokter').select2({
                ajax: {
                    url: "@Url.Action("Jasa_Jasa_Dokter", "Select2")",
                    dataType: 'json', type: "POST", delay: 250,
                    data: function (params) {
                        return {
                            pagesize: 30,
                            pageindex: params.page || 0,
                            filter: params.term,
                            groupjasa: isetup.form['GroupJasa'].value
                        };
                    },
                    processResults: function (data, params) {
                        if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                        else {
                            params.page = data.PageIndex + 1;
                            return {
                                results: $.map(data.Data, function (value, index) {
                                    return {
                                        id: value.Id,
                                        text: value.Nama,
                                    }
                                }), pagination: { more: (params.page * 30) < data.TotalCount }
                            };
                        }
                    }, cache: true
                },
                allowClear: true,
                placeholder: ""
            });
        };

        isetup.adddetailbody_Komponen = (
            Id,
            Nama,
            Qty,
            UsePersen,
            Persen,
            Insentif,
            IncInsent,
            HargaAwal,
            HargaLama,
            HargaBaru,
            HargaHCLama,
            HargaHC,
            DiscInsentifHC,
            AkunHPP,
            AkunHPPNama,
            AkunLawan,
            AkunLawanNama,
            HargaBPJS,
            HargaBPJSLama
        ) => {
            if ($('#modaldetailkomponen .detail-KomponenBiaya tbody tr[data-id="' + Id + '"]').length) {
                alerterror(Nama + ' sudah ada');
                return;
            }

            var _detail = '';
            _detail += `<tr data-id="${Id}">`;
            _detail += '<td class="text-center view-hide">';
            _detail += '<a onclick="removedetail(this)" class="text-danger"><i class="icon-trash"></i></a>';

            // input
            _detail += `<td class="td-text">${Id}</td>`;
            _detail += `<td class="td-text Nama">${Nama}</td>`;
            _detail += `<td><input type='number' class="form-control Qty text-right" min=0 value="${Qty}"/></td>`;
            _detail += `<td class="text-center"><input type='checkbox' onchange="isetup.komponenusepersenonchange(this)" class="UsePersen" ${(UsePersen && 'checked')}/></td>`;
            _detail += `<td><input type='number' class="form-control Persen text-right" onchange="isetup.komponenpersenonchange(this)" ${UsePersen ? '' : 'readonly'} min=0 max=100 value="${Persen}"/></td>`;
            _detail += `<td><input type='number' class="form-control Insentif text-right" min=0 max=100 value="${Insentif}"/></td>`;
            _detail += `<td class="text-center"><input type='checkbox' class="IncInsent" ${(IncInsent && 'checked')}/></td>`;
            _detail += `<td><input type='text' class="form-control HargaAwal text-right" onchange="isetup.komponenhargaawalonchange(this)" data-val="${HargaAwal}" value="${HargaAwal || ''}"/></td>`;
            _detail += `<td><input type='text' class="form-control HargaLama text-right" value="${HargaLama || ''}"/></td>`;
            _detail += `<td class="td-text text-right HargaBaru">${getfloatfromcurrency(HargaBaru) || '0'}</td>`;
            _detail += `<td><input type='text' class="form-control HargaHCLama text-right" value="${HargaHCLama || ''}"/></td>`;
            _detail += `<td><input type='text' class="form-control HargaHC text-right" onchange="isetup.komponenhargahconchange(this)" data-val="${HargaHC}" value="${HargaHC || ''}"/></td>`;
            _detail += `<td><input type='number' class="form-control DiscInsentifHC text-right" min=0 max=100 value="${DiscInsentifHC}"/></td>`;

            _detail += `<td><select class="AkunHPP">${(AkunHPP ? `<option value="${AkunHPP}">${AkunHPPNama}</option>` : '')}</select></td>`;
            _detail += `<td><select class="AkunLawan">${(AkunLawan ? `<option value="${AkunLawan}">${AkunLawanNama}</option>` : '')}</select></td>`;

            _detail += `<td><input type='text' class="form-control HargaBPJS text-right" onchange="isetup.komponenhargabpjsonchange(this)" data-val="${HargaBPJS}" value="${HargaBPJS || ''}"/></td>`;
            _detail += `<td><input type='text' class="form-control HargaBPJSLama text-right" value="${HargaBPJSLama || ''}"/></td>`;

            _detail += '</tr>';
            $('#modaldetailkomponen .detail-KomponenBiaya tbody').append(_detail);
            isetup.DetailKomponenClave.push({
                id: Id,
                HargaAwal: new Cleave($('#modaldetailkomponen .detail-KomponenBiaya tbody tr:last .HargaAwal')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
                HargaLama: new Cleave($('#modaldetailkomponen .detail-KomponenBiaya tbody tr:last .HargaLama')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
                HargaHCLama: new Cleave($('#modaldetailkomponen .detail-KomponenBiaya tbody tr:last .HargaHCLama')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
                HargaHC: new Cleave($('#modaldetailkomponen .detail-KomponenBiaya tbody tr:last .HargaHC')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
                HargaBPJS: new Cleave($('#modaldetailkomponen .detail-KomponenBiaya tbody tr:last .HargaBPJS')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
                HargaBPJSLama: new Cleave($('#modaldetailkomponen .detail-KomponenBiaya tbody tr:last .HargaBPJSLama')[0], { numeral: true, numeralThousandsGroupStyle: 'thousand' }),
            });
            isetup.select2akun($('#modaldetailkomponen .detail-KomponenBiaya tbody tr:last').find('.AkunHPP'));
            isetup.select2akun($('#modaldetailkomponen .detail-KomponenBiaya tbody tr:last').find('.AkunLawan'));
        };

        $('#modaldetailkomponen').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });

        isetup.viewdetail_HargaUmum = (id) => {
            isetup.viewdetail_HargaUmum_acthiveid = id;
            isetup.DetailKomponenClave = [];
            $('#modaldetailkomponen .detail-KomponenBiaya tbody').html('');
            isetup.hargaumum.find(x => x.id === id).Komponen.forEach(x => {
                isetup.adddetailbody_Komponen(
                    x.Id,
                    x.Nama,
                    x.Qty,
                    x.UsePersen,
                    x.Persen,
                    x.Insentif,
                    x.IncInsent,
                    x.HargaAwal,
                    x.HargaLama,
                    x.HargaBaru,
                    x.HargaHCLama,
                    x.HargaHC,
                    x.DiscInsentifHC,
                    x.AkunHPP,
                    x.AkunHPPNama,
                    x.AkunLawan,
                    x.AkunLawanNama,
                    x.HargaBPJS,
                    x.HargaBPJSLama
                );
            });
            isetup.initmodaldetailkomponen();
            $('#modaldetailkomponen').modal({ backdrop: 'static' });
            $('.modal-backdrop:last').css('z-index', $('#modaldetailkomponen').css('z-index') - 1);
        };

        isetup.initmodaldetailkomponen = () => {
            let f = $('#modaldetailkomponen form')[0];
            let inputreadonly = 'input[type="text"],input[type="number"],input[type="time"],input[type="date"],[type="email"],[type="password"],textarea';
            let inputdisabled = 'select,input[type="checkbox"],input[type="radio"]';
            const process = isetup.form['_PROCESS'].value;
            if (process === 'CREATE' || process === 'EDIT') {
                $(f).find(inputreadonly).removeAttr('readonly');
                $(f).find(inputdisabled).removeAttr('disabled');

                $(f).find('.view-disabled').removeAttr('disabled');
                $(f).find('.setup-readonly').attr('readonly', 'readonly');
                $(f).find('.setup-disabled').attr('disabled', 'disabled');
                $(f).find('.setup-hide').addClass('hide');
                $(f).find('.view-hide').removeClass('hide');

            } else if (process === 'VIEW' || process === 'DELETE') {
                $(f).find(inputreadonly).attr('readonly', 'readonly');
                $(f).find(inputdisabled).attr('disabled', 'disabled');

                $(f).find('.view-disabled').attr('disabled', 'disabled');
                $(f).find('.view-hide').addClass('hide');
                $(f).find('.setup-hide').removeClass('hide');
            }
            if (process === 'CREATE') {
                $(f).find('.create-clear').val('');
            }
            $(f).find('.all-readonly').attr('readonly', 'readonly');
            $(f).find('.all-disabled').attr('disabled', 'disabled');
            $(f).find('select').trigger('change');
        }

        isetup.viewdetail_HargaUmum_acthiveid = '';
        isetup.hargaumum = [];
        isetup.DetailKomponenClave = [];
        isetup.hargaumumkelasoptions = '@Html.Raw(HList.Jasa_Jasa_Kelas)';
        isetup.hargaumumtipepasienoptions = '@Html.Raw(HList.Jasa_Jasa_TipePasien)';
        isetup.hargaumumspesialisoptions = '@Html.Raw(HList.Jasa_Jasa_Spesialis)';
        isetup.hargaumumkategorioperasioptions = '@Html.Raw(HList.Jasa_Jasa_KategoriOperasi)';
        isetup.hargaumumlokasioptions = '@Html.Raw(HList.Jasa_Jasa_Lokasi)';
        isetup.select2akun = (v) => {
            v.select2({
                ajax: {
                    url: "@Url.Action("Jasa_Jasa_Akun", "Select2")",
                    dataType: 'json',type: "POST",delay: 250,
                    data: function (params) {
                        return {
                            pagesize: 30,
                            pageindex: params.page || 0,
                            filter: params.term,
                            groupjasa: isetup.form['GroupJasa'].value
                        };
                    },
                    processResults: function (data, params) {
                        if (!data.IsSuccess) alertpopup(data.Message, 'danger');
                        else {
                            params.page = data.PageIndex + 1;
                            return {
                                results: $.map(data.Data, function (value, index) {
                                    return {
                                        id: value.Id,
                                        text: value.Nama,
                                    }
                                }), pagination: { more: (params.page * 30) < data.TotalCount }
                            };
                        }
                    }, cache: true
                },
                allowClear: true,
                placeholder: ""
            });
        };

        isetup.deletedetailkomponen = () => {
            removedetail($(isetup.form).find(`.detail-HargaUmum tr[data-tempid="${isetup.viewdetail_HargaUmum_acthiveid}"]`));
            isetup.hargaumum = isetup.hargaumum.filter(x => x.id != isetup.viewdetail_HargaUmum_acthiveid);
            $('#modaldetailkomponen').modal('hide');
            isetup.viewdetail_HargaUmum_acthiveid = '';
        };

        isetup.detailkomponenonsubmit = e => {
            e.preventDefault();
            isetup.hargaumum.find(x => x.id === isetup.viewdetail_HargaUmum_acthiveid).Komponen = [];
            let hargalama = 0;
            let hargabaru = 0;
            let hargahclama = 0;
            let hargahc = 0;
            let hargabpjs = 0;
            let hargabpjslama = 0;
            $('#modaldetailkomponen .input-detail tbody tr').each((i, v) => {
                const id = $(v).data('id');
                const model = {
                    Id: id,
                    Nama: $(v).find('.Nama').html(),
                    Qty: $(v).find('.Qty').val(),
                    UsePersen: $(v).find('.UsePersen')[0].checked,
                    Persen: $(v).find('.Persen').val(),
                    Insentif: $(v).find('.Insentif').val(),
                    IncInsent: $(v).find('.IncInsent')[0].checked,
                    HargaAwal: parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).HargaAwal.getRawValue()) || 0,
                    HargaLama: parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).HargaLama.getRawValue()) || 0,
                    HargaBaru: getfloatfromcurrency($(v).find('.HargaBaru').html()),
                    HargaHCLama: parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).HargaHCLama.getRawValue()) || 0,
                    HargaHC: parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).HargaHC.getRawValue()) || 0,
                    DiscInsentifHC: $(v).find('.DiscInsentifHC').val(),
                    AkunHPP: $(v).find('.AkunHPP').val(),
                    AkunHPPNama: $(v).find('.AkunHPP option:selected').text(),
                    AkunLawan: $(v).find('.AkunLawan').val(),
                    AkunLawanNama: $(v).find('.AkunLawan option:selected').text(),
                    HargaBPJS: parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).HargaBPJS.getRawValue()) || 0,
                    HargaBPJSLama: parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).HargaBPJSLama.getRawValue()) || 0,
                };
                hargalama = hargalama + (model.HargaLama || 0);
                hargabaru = hargabaru + (model.HargaBaru || 0);
                hargahclama = hargahclama + (model.HargaHCLama || 0);
                hargahc = hargahc + (model.HargaHC || 0);
                hargabpjs = hargabpjs + (model.HargaBPJS || 0);
                hargabpjslama = hargabpjslama + (model.HargaBPJSLama || 0);
                isetup.hargaumum.find(x => x.id === isetup.viewdetail_HargaUmum_acthiveid).Komponen.push(model);
            });
            $(isetup.form).find(`.detail-HargaUmum tr[data-tempid="${isetup.viewdetail_HargaUmum_acthiveid}"] .HargaLama`).html(getcurrencyfromfloat(hargalama) || '0');
            $(isetup.form).find(`.detail-HargaUmum tr[data-tempid="${isetup.viewdetail_HargaUmum_acthiveid}"] .HargaBaru`).html(getcurrencyfromfloat(hargabaru) || '0');
            $(isetup.form).find(`.detail-HargaUmum tr[data-tempid="${isetup.viewdetail_HargaUmum_acthiveid}"] .HargaHCLama`).html(getcurrencyfromfloat(hargahclama) || '0');
            $(isetup.form).find(`.detail-HargaUmum tr[data-tempid="${isetup.viewdetail_HargaUmum_acthiveid}"] .HargaHC`).html(getcurrencyfromfloat(hargahc) || '0');
            $(isetup.form).find(`.detail-HargaUmum tr[data-tempid="${isetup.viewdetail_HargaUmum_acthiveid}"] .HargaBPJS`).html(getcurrencyfromfloat(hargabpjs) || '0');
            $(isetup.form).find(`.detail-HargaUmum tr[data-tempid="${isetup.viewdetail_HargaUmum_acthiveid}"] .HargaBPJSLama`).html(getcurrencyfromfloat(hargabpjslama) || '0');
            $('#modaldetailkomponen').modal('hide');
        };

        isetup.komponenusepersenonchange = (t) => {
            if (isetup.onproses) return;
            let persen = $(t).closest('tr').find('.Persen');
            let hargaawal = $(t).closest('tr').find('.HargaAwal');
            if (t.checked) {
                $(persen).removeAttr('readonly');
                if (parseFloat(persen.value === 100))
                    $(hargaawal).removeAttr('readonly');
                else
                    $(hargaawal).attr('readonly', 'readonly');
            } else {
                $(persen).val(0).attr('readonly', 'readonly');
                $(hargaawal).removeAttr('readonly');
                const id = $(t).closest('tr').data('id');
                isetup.DetailKomponenClave.find(x => x.id === id).HargaAwal.setRawValue(0);
                isetup.komponenhargaawalonchange(t);
            }
        };

        isetup.komponenpersenonchange = (t) => {
            if (isetup.onproses) return;
            let hargaawal = $(t).closest('tr').find('.HargaAwal');
            if (parseFloat(t.value) >= 100) {
                let has100 = 0;
                $(t).closest('tbody').find('tr .Persen').each((i, v) => {
                    if (parseFloat(v.value) >= 100) {
                        has100++;
                        v.value = 100;
                    }
                });
                if (has100 > 1) {
                    t.value = 99;
                    $(hargaawal).attr('readonly', 'readonly');
                }else
                    $(hargaawal).removeAttr('readonly');
            } else
                $(hargaawal).attr('readonly', 'readonly');
            isetup.komponenautohargaawal(t);
        };

        isetup.komponenautohargaawal = (t) => {
            if (isetup.onproses) return;
            const persen = parseFloat($(t).closest('tr .Persen').val());
            let harga100 = 0;
            $(t).closest('tbody').find('tr .Persen').each((i, v) => {
                if (parseFloat(v.value) === 100) {
                    const id = $(v).closest('tr').data('id');
                    harga100 = parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).HargaAwal.getRawValue()) || 0;
                }
            });
            const hargaawal = harga100 / 100 * persen;
            const xid = $(t).closest('tr').data('id');
            isetup.DetailKomponenClave.find(x => x.id === xid).HargaAwal.setRawValue(hargaawal);
            isetup.komponenhargaawalonchange(t);
        };

        isetup.komponenhargaawalonchange = (t) => {
            if (isetup.onproses) return;
            const id = $(t).closest('tr').data('id');
            const hargaasli = parseFloat($(t).attr('val'));
            const harga = parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).HargaAwal.getRawValue()) || 0;
            if (hargaasli != harga && isetup.form['_PROCESS'].value != 'CREATE')
                isetup.DetailKomponenClave.find(x => x.id === id).HargaLama.setRawValue(harga);
            $(t).closest('tr').find('.HargaBaru').html(getcurrencyfromfloat(harga));
        };

        isetup.komponenhargahconchange = (t) => {
            if (isetup.onproses) return;
            const id = $(t).closest('tr').data('id');
            const hargaasli = parseFloat($(t).attr('val'));
            const harga = parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).HargaHC.getRawValue()) || 0;
            if (hargaasli != harga && isetup.form['_PROCESS'].value != 'CREATE')
                isetup.DetailKomponenClave.find(x => x.id === id).HargaHCLama.setRawValue(harga);
        };

        isetup.komponenhargabpjsonchange = (t) => {
            if (isetup.onproses) return;
            const id = $(t).closest('tr').data('id');
            const hargaasli = parseFloat($(t).attr('val'));
            const harga = parseFloat(isetup.DetailKomponenClave.find(x => x.id === id).HargaBPJS.getRawValue()) || 0;
            if (hargaasli != harga && isetup.form['_PROCESS'].value != 'CREATE')
                isetup.DetailKomponenClave.find(x => x.id === id).HargaBPJSLama.setRawValue(harga);
        };
    };
</script>