﻿<style>
    #modallookupbiayakomponen .table td,
    #modallookupbiayakomponen .table th {
        white-space: nowrap;
    }
</style>

<div id="modallookupbiayakomponen" class="modal fade" role="dialog" style="z-index:1061;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Biaya Komponen</h4>
            </div>
            <form id="lookupbiayakomponen">
                <div class="dataTables_wrapper no-footer" style="display: block;">
                    <div class="datatable-header">
                        <div class="dataTables_filter">
                            <label>
                                <span>Filter:</span>
                                <input type="search" data-itable-filter="All" data-itable-filter-type="contains" placeholder="Type to filter...">
                            </label>
                        </div>
                        <div class="hide">
                            <label>
                                <span>Show:</span>
                                <select class="form-control itable-pagesize" style="width: auto;">
                                    <option selected>10</option>
                                    <option>25</option>
                                    <option>50</option>
                                    <option>100</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="datatable-scroll table-responsive">
                        <table class="table datatable-basic dataTable no-footer table-xxs table-striped table-lookup">
                            <thead>
                                <tr>
                                    <th class="sorting" data-itable-sorting="KomponenBiayaID">ID<i></i></th>
                                    <th class="sorting" data-itable-sorting="KomponenName">Nama<i></i></th>
                                    <th class="sorting" data-itable-sorting="IncludeInsentif">Insentif<i></i></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="datatable-footer">
                        <div class="dataTables_info itable-info"></div>
                        <div class="dataTables_paginate paging_simple_numbers itable-pagination"></div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn-save btn btn-primary" onclick="itablelookupbiayakomponen.selected(this)"><i class="glyphicon icon-check"></i> SELECT</button>
            </div>
        </div>
    </div>
</div>

<script>
    var itablelookupbiayakomponen;
    document.addEventListener("DOMContentLoaded", function (event) {
        itablelookupbiayakomponen = new iTable({
            url: '@Url.Action("ListLookupbiayakomponen")',
            table: document.getElementById('lookupbiayakomponen'),
            orderby: 'KomponenBiayaID',
            tablesuccess: function (r, t) {
                if (r.IsSuccess) {
                    $(t.table).find('tbody').html('');
                    if (r.Data.length === 0)
                        $(t.table).find('tbody').append(`<tr><td colspan="${$(itablelookupbiayakomponen.table).find('thead th').length}" class="text-center">----- <b>Tidak ada data</b> -----</td></tr>`);
                    $.each(r.Data, function (index, value) {
                        var tbody = '<tr class="odd" onclick="itablelookupbiayakomponen.active(this)">';

                        // column
                        tbody += '<td>' + value.Id + '</td>';
                        tbody += '<td>' + value.Nama + '</td>';
                        tbody += `<td class="text-center"><input disabled type='checkbox' ${value.Insentif ? 'checked' : ''}/></td>`;

                        tbody += '</tr>';
                        $(t.table).find('tbody').append(tbody);
                        $(t.table).find('tbody tr').last().data('model', JSON.stringify(value));
                    });
                    var footer = generatefootertable(r.TotalCount, t.pagesize, t.pageindex, 'tableordergetdatas');
                    $(t.table).find('.itable-info').html(footer.datainfo);
                    $(t.table).find('.itable-pagination').html(footer.pagination);
                } else alert(r.Message);
            }
        });

        $('#modallookupbiayakomponen').on('hidden.bs.modal', function () {
            $('body').addClass('modal-open');
        });
        $('#modallookupbiayakomponen').on('shown.bs.modal', function (e) {
             $('#modallookupbiayakomponen [data-itable-filter="All"]').focus();
        });

        itablelookupbiayakomponen.active = (t) => {
            $(t).toggleClass('bg-primary');
        }

        itablelookupbiayakomponen.openmodal = () => {
            if (isetup.viewdetail_HargaUmum_acthiveid) {
                itablelookupbiayakomponen.pageindex = 0;
                itablelookupbiayakomponen.refresh();
                $('#modallookupbiayakomponen').modal();
                $('.modal-backdrop:last').css('z-index', $('#modallookupbiayakomponen').css('z-index') - 1);
            } else {
                alerterror('Harga Umum Belum dipilih');
            }
        }

        itablelookupbiayakomponen.selected = function (t) {
            $.each($(t).closest('.modal').find('table tbody tr.bg-primary'), function (index, value) {
                var model = JSON.parse($(value).data('model'));
                //Id, Nama, Qty, UsePersen, Persen, Insentif, IncInsent, HargaAwal, HargaLama, HargaBaru, HargaHCLama,
                //HargaHC, DiscInsentifHC, AkunHPP, AkunHPPNama, AkunLawan, AkunLawanNama, HargaBPJS, HargaBJPSLama
                isetup.adddetailbody_Komponen(
                    model.Id,
                    model.Nama,
                    1,
                    false,
                    0,
                    0,
                    false,
                    0,
                    0,
                    0,
                    0,

                    0,
                    0,
                    null,
                    null,
                    0,
                    0,
                    0,
                    0,

                );
            });
            $(t).closest('.modal').modal('hide');
        }
    });
</script>